$btnBg-color: #f05332;
$white: #ffffff;
$critical: #D7410B;
$criticalOvr: #C1401A;
$DisabColor: #cccccc;
$PrimaryColor: #0096d6;
$PrimaryOvrColor: #006699;
$focusOvr:#d6492d;
$PSmarydisabColor:#ccc;
$btnBorderColor:#007dba;
$SeconColor:#767676;
$SeconOvrColor:#5a5a5a;
$removeColor:#100e0f;
$closeColor:#373536;
$sharePopup:#666666;
$borderBtmEmail:#3f4043;
$borderBtmEmailSpan:#b2b2b2;
$borderBtmEmailSpanOvr:#f2f2f2;
$btnOvrSpan:#0084BD;
$error:#FF0000;
$btnInner:#007CA2;
$borderBtmEmailOvr:#494a4d;
$style: solid;
$cursorPoint: pointer;
$radius: 0 4px;
$fontBold:bold;


.button {
  input {
    border: none;
    font: inherit;
    color: inherit;
    background: transparent;
    overflow: visible;
  }
  font-family: "HPSimplified",Arial;
  -moz-border-radius: $radius;
  border-radius: $radius;
  padding: 0 20px;
  display: inline-block;
  height: 40px;
  background-color: $btnBg-color;
  .btn_label, input {
    text-transform: none;
    line-height: 38px;
    font-size: 20px;
    font-weight: $fontBold;
    border: none;
  }
  &:hover, &:focus {
    background-color: $focusOvr;
    text-decoration: none;
  }
  &:visited span {
    color: $white;
  }
  &.inline {
    .btn_label {
      line-height: 34px;
      font-size: 16px;
    }
    input {
      height: 36px;
      font-size: 18px;
    }
    height: 36px;
    padding: 0 15px;
    margin-left: 5px;
  }
  .slim .btn_label {
    line-height: 26px;
    font-size: 14px;
    margin-bottom: 1px;
  }
}

.slim input {
  line-height: 26px;
  font-size: 14px;
  margin-bottom: 1px;
}

.button {
  .slim input {
    height: 26px;
  }
  &.slim {
    height: 26px;
    padding: 0 10px;
    margin-left: 5px;
    line-height: 26px;
  }
}

a.button {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.button {
  &.critical {
    background-color: $critical;
    cursor: $cursorPoint;
    color: $white;
    input {
      background-color: $critical;
      cursor: $cursorPoint;
      color: $white;
    }
    &:hover {
      background-color: $criticalOvr;
      color: $white;
      input {
        background-color: $criticalOvr;
        color: $white;
      }
    }
  }
  &.critical_disabled {
    &:hover, input {
      color: $white;
      background-color: $DisabColor;
      cursor: default;
    }
    color: $white;
    background-color: $DisabColor;
    cursor: default;
  }
  &.cancel {
    color: $white;
    background-color: $SeconColor;
    cursor: $cursorPoint;
    input {
      color: $white;
      background-color: $SeconColor;
      cursor: $cursorPoint;
    }
    &:hover {
      background-color: $SeconOvrColor;
      input {
        background-color: $SeconOvrColor;
      }
    }
  }
  &.cancel_disabled {
    &:hover, input {
      color: $white;
      background-color: $DisabColor;
      cursor: default;
    }
    color: $white;
    background-color: $DisabColor;
    cursor: default;
  }
  &.primary {
    color: $white;
    background-color: $PrimaryColor;
    cursor: $cursorPoint;
    input {
      color: $white;
      background-color: $PrimaryColor;
      cursor: $cursorPoint;
    }
    &:hover {
      background-color: $PrimaryOvrColor;
      input {
        background-color: $PrimaryOvrColor;
      }
    }
  }
  &.primary_disabled {
    &:hover, input {
      background-color: $PSmarydisabColor;
      color: $white;
      cursor: default;
    }
    background-color: $PSmarydisabColor;
    color: $white;
    cursor: default;
  }
  &.secondary {
    color: $white;
    background-color: $SeconColor;
    input {
      color: $white;
      background-color: $SeconColor;
    }
    &:hover {
      background-color: $SeconOvrColor;
      input {
        background-color: $SeconOvrColor;
      }
    }
  }
  &.secondary_disabled {
    &:hover, input {
      background-color: $PSmarydisabColor;
      color: $white;
      cursor: default;
    }
    background-color: $PSmarydisabColor;
    color: $white;
    cursor: default;
  }
}


.btn_toggle {
  span.btn_label {
    cursor: $cursorPoint;
    line-height: 18px;
    font-size: 14px;
  }
  .btn_inner {
    margin: 0px;
    padding: 1px 6px 0;
    display: inline-block;
    height: 21px;
    border: 2px $PSmarydisabColor $style;
    border-collapse: collapse;
  }
  a {
    &.first {
      margin-right: 1px;
    }
    &:hover .btn_inner, &:focus .btn_inner {
      background-color: $white;
      color: $btnBorderColor;
      border-color: $SeconOvrColor;
    }
  }
  .btn_inner {
    background-color: $btnInner;
  }
  .arr_wht_rgt {
    background-position: right -136px;
  }
  .btn_inner, span {
    color: $SeconColor;
    background-color: $white;
  }
  a {
    &:hover {
      .btn_inner, span {
        background-color: $white;
        color: $btnBorderColor;
      }
    }
    &.chkd {
      .btn_inner, span {
        cursor: default;
        border-color: $btnBorderColor;
        color: $white;
        background-color: $btnBorderColor;
      }
      &:hover {
        .btn_inner, span {
          cursor: default;
          border-color: $btnBorderColor;
          color: $white;
          background-color: $btnBorderColor;
        }
      }
    }
    &.error {
      .btn_inner, span {
        color: $error;
        border-color: $error;
        background-color: $white;
      }
      &:hover {
        .btn_inner, span {
          background-color: $white;
          color: $error;
          border-color: $SeconOvrColor;
        }
        .btn_inner, span {
          background-color: $white;
          border-color: $SeconOvrColor;
          color: $error;
        }
      }
    }
  }
}


.btn_pagination {
  font-family: "HPSimplified",Arial;
  .btn_label {
    font-weight: $fontBold;
    cursor: $cursorPoint;
    line-height: 26px;
    height: 26px;
    font-size: 14px;
  }
  .btn_inner {
    padding: 0 10px;
    -moz-border-radius: $radius;
    border-radius: $radius;
    display: inline-block;
  }
  .page_number {
    display: inline-block;
    font-weight: normal;
    padding-left: 3px;
  }
  .btn_inner, span {
    background-color: $PrimaryColor;
    color: $white;
  }
  &:hover {
    .btn_inner, span {
      background-color: $btnOvrSpan;
    }
  }
  &.disabled {
    &:hover .btn_inner, .btn_inner, &:hover span, span {
      background-color: $PSmarydisabColor;
      cursor: default;
    }
  }
}

.btn_share .btn_label, .btn_print .btn_label {
  background-image: url(../../i/common/s-15px-hpe.png);
  background-repeat: no-repeat;
  _background-image: url(../../i/common/s-15px-ie6-hpe.gif);
}

.btn_indicator {
  .arrow_left .icon, .arrow_right .icon, .search_left .icon, .search_right .icon {
    background-image: url(../../i/common/s-15px-hpe.png);
    background-repeat: no-repeat;
    _background-image: url(../../i/common/s-15px-ie6-hpe.gif);
  }
}

.btn_share_trigger_parent {
  height: 19px;
  display: inline-block;
}

.btn_share, .btn_print {
  text-transform: capitalize;
}

.btn_share .btn_label {
  padding-left: 18px;
  cursor: $cursorPoint;
  font-size: 14px;
  border: none;
  display: inline-block;
  background-position: 0 -581px;
}

.btn_print .btn_label {
  padding-left: 18px;
  cursor: $cursorPoint;
  font-size: 14px;
  border: none;
  display: inline-block;
  background-position: 0 -581px;
  background-position: left -790px;
}

.btn_share .btn_inner, .btn_print .btn_inner {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 0 4px 0 4px;
}

.btn_share .btn_inner span, .btn_print .btn_inner span {
  color: $SeconColor;
}

.btn_share a:hover .btn_inner .btn_label, .btn_print a:hover .btn_inner .btn_label {
  text-decoration: underline;
}

.btn_share a:hover .btn_inner, .btn_print a:hover .btn_inner {
  text-decoration: none;
}

.share_widget_holder {
  display: none;
}

.share_popup_dark {
  .border_bottom a, .email a {
    padding: 8px 30px 8px 8px;
    display: inline-block;
    _display: block;
  }
}

.share_popup_light {
  .border_bottom a, .email a {
    padding: 8px 30px 8px 8px;
    display: inline-block;
    _display: block;
  }
}

.share_popup_dark {
  .popup_list! {}
  .border_bottom {
    border-bottom: 1px $style $sharePopup;
  }
  .popup_list {
    border-radius: 3px;
    -moz-border-radius: 3px;
  }
  .border_bottom, .email {
    background-color: $borderBtmEmail;
  }
  .border_bottom span, .email span {
    font-size: 95%;
    color: $borderBtmEmailSpan;
  }
  .border_bottom:hover, .email:hover {
    background-color: $borderBtmEmailOvr;
  }
  .border_bottom:hover span, .email:hover span {
    font-size: 95%;
    color: $borderBtmEmailSpanOvr;
  }
}

.btn_icon a, .btn_expand_all .icn_pls_drk, .icn_mns_drk, .btn_checkbox .checkbox {
  background-image: url(../../i/common/s-21px-hpe.png);
  background-repeat: no-repeat;
  _background-image: url(../../i/common/s-21px-ie6-hpe.gif);
}

.btn_icon {
  display: inline-block;
  .close {
    display: inline-block;
  }
  div {
    border-radius: 3px;
    -moz-border-radius: 3px;
  }
  .close a {
    width: 17px;
    height: 17px;
    cursor: $cursorPoint;
    display: inline-block;
    background-position: left -455px;
    font-size: 0px;
    color: $closeColor;
    line-height: 0px;
    &:hover {
      background-position: left -500px;
      font-size: 0px;
      color: $closeColor;
    }
  }
  .remove a {
    width: 15px;
    height: 15px;
    cursor: $cursorPoint;
    display: inline-block;
    background-position: left -544px;
    font-size: 0px;
    color: $removeColor;
    line-height: 0px;
    &:hover {
      background-position: left -585px;
      font-size: 0px;
      color: $removeColor;
    }
  }
  .zoom a {
    height: 15px;
    cursor: $cursorPoint;
    display: inline-block;
    padding: 0px 0px 0px 17px;
    font-size: 14px;
    background-position: left -626px;
    color: $SeconColor;
    line-height: 18px;
    &:hover {
      background-position: left -626px;
      text-decoration: underline;
    }
  }
}

.btn_indicator {
  font-family: "HPSimplified",Arial;
  .icon, span.btn_label {
    font-weight: $fontBold;
    cursor: $cursorPoint;
    font-size: 14px;
    border: none;
  }
  .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
  }
  .btn_inner {
    display: inline-block;
    height: 21px;
    padding: 0 10px 0 8px;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-color: $SeconColor;
    color: $white;
    span {
      background-color: $SeconColor;
      color: $white;
    }
  }
  a:hover .btn_inner {
    background-color: $SeconOvrColor;
    span {
      background-color: $SeconOvrColor;
    }
  }
  .disabled {
    .btn_inner, &:hover .btn_inner {
      background-color: $PSmarydisabColor;
      color: $white;
      cursor: default;
      span {
        background-color: $PSmarydisabColor;
        color: $white;
        cursor: default;
      }
    }
  }
  .arrow_left {
    padding: 5px 10px 0 6px;
  }
  .arrow_right {
    padding: 5px 6px 0 10px;
  }
  .arrow_left .btn_label {
    padding: 0;
  }
  .arrow_right {
    .btn_label {
      padding: 0;
    }
    .icon {
      background-position: left -2756px;
    }
  }
  .arrow_left .icon {
    background-position: left -2791px;
  }
  .search_left {
    padding: 5px 8px 0 10px;
    .icon {
      background-position: left -2722px;
      width: 15px;
      height: 15px;
    }
  }
  .search_right .icon {
    background-position: left -2722px;
    width: 15px;
    height: 15px;
  }
  .search_left .btn_label {
    padding-left: 5px;
  }
  .search_right {
    .btn_label {
      padding-right: 3px;
      padding-left: 0px;
    }
    padding: 5px 8px 0 10px;
  }
}


.btn_expand_all .icn_pls_drk, .icn_mns_drk {
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: $cursorPoint;
}

.btn_expand_all {
  a:hover {
    cursor: $cursorPoint;
  }
  .icn_pls_drk {
    background-position: left -1680px;
  }
  .icn_mns_drk {
    background-position: left -1815px;
    margin-left: 23px;
  }
  .active .icn_pls_drk, a:hover .icn_pls_drk {
    background-position: left -1950px;
  }
  .active .icn_mns_drk, a:hover .icn_mns_drk {
    background-position: left -2085px;
  }
}

.btn_expand {
  .expand-icn {
    width: 18px;
    height: 18px;
    background: url(../../i/patterns/s-plus-minus-btn.jpg) no-repeat;
    display: inline-block;
  }
  a:hover {
    cursor: $cursorPoint;
  }
  .expand-icn {
    background-position: left -420px;
  }
  .expanded .expand-icn {
    background-position: left -350px;
  }
}

.btn_checkbox {
  line-height: 18px;
  font-family: "HPSimplified",Arial;
  .label {
    display: inline-block;
    margin-left: 5px;
  }
  label {
    font-size: 14px;
    line-height: 18px;
    color: $SeconColor;
    vertical-align: middle;
  }
  a:hover label {
    text-decoration: underline;
  }
  .checkbox {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: left 0;
    &:hover {
      background-position: left -45px;
    }
  }
}

.chkd .checkbox {
  background-position: left -90px;
  &:hover {
    background-position: left -90px;
  }
}

.btn_label {
  margin-top: 5px;
  clear: both;
  webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  border: 0px !important;
  text-align: center;
  color: $white;
  padding: 0px 15px;
  text-transform: none;
  line-height: 23px;
  font-size: 16px;
  font-weight: $fontBold;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn_label_slim {
  font-weight: normal !important;
  webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  border: 0px !important;
  line-height: 24px;
}

.pagination .btn_label_slim {
  line-height: 12px !important;
}

.HPLargeBTN {
  height: 36px !important;
}

.HPMediumBTN {
  height: 26px !important;
}

.searchBTN {
  margin-left: 0px !important;
}