$midgrey:#b9b8b8;
$lightgrey:#ccc;
$vlightgrey:#e5e8e8;
$black:#000;
$solid:solid;
$white:#fff;
$blue:#0096d6;
$fontbold:bold;




/*--------- date picker ------------*/

.ui-datepicker {
  font-family: HPSimplified, Arial;
  table td {
    width: 31px !important;
  }
}

.ui-corner-all {
  border-radius: 0px !important;
}

#ui-datepicker-div .ui-widget-header {
  background: $midgrey !important;
  color: $black !important;
  Border: 1px $solid $lightgrey !important;
}

.ui-datepicker-header .ui-datepicker-title {
  font-size: 14px !important;
  font-weight: normal !important;
}

.ui-widget-header .ui-icon {
  background: url(../images/16px_new_icons.png) no-repeat !important;
}

.ui-icon {
  &.ui-icon-circle-triangle-w {
    background-position: -1px -79px !important;
  }
  &.ui-icon-circle-triangle-e {
    background-position: 0px -64px !important;
  }
}

.ui-widget-content {
  border: 2px $solid $midgrey !important;
}

.ui-datepicker {
  .ui-datepicker-prev, .ui-datepicker-next {
    margin-top: 4px !important;
  }
}

.ui-state-default {
  border: 1px $solid $lightgrey !important;
  background: $white !important;
  text-align: center;
  font-weight: $fontbold;
  color: $black !important;
  text-align: center !important;
}

.ui-state-hover, .ui-widget-header .ui-state-hover {
  border: 1px $solid $lightgrey  !important;
  background: $vlightgrey  !important;
}

.ui-datepicker {
  .ui-datepicker-prev-hover, .ui-datepicker-next-hover {
    top: 2px !important;
  }
  .ui-datepicker-prev-hover {
    left: 2px !important;
  }
  .ui-datepicker-next-hover {
    right: 2px !important;
  }
  table thead tr th {
    background-color: $white !important;
    color: $black !important;
    font-size: 12px !important;
    font-weight: normal !important;
  }
}

.ui-state-default.ui-state-highlight {
  background: $white !important;
  border-color: $blue !important;
  color: $blue !important;
}

.ui-state-highlight.ui-state-hover {
  background: $white !important;
}

.ui-state-default.ui-state-active {
  background: $blue !important;
  border-color: $blue !important;
  color: $white !important;
}

/*--------- date picker ------------*/