$white:#fff;
$black:#000;
$borderColor:#5a5a5a;
$formBg:#F7D7D7;
$formColor:#ff0000;
$grey:#767676;
$lightgrey:#ccc;
$formtxtcolor:#b3b3b3;
$formbginput:#e5e5e5;


/* Inputs */

.form-input, .form-input-disabled, .form-input-error {
  display: inline-block;
  font-family: "HPSimplified",Arial;
  height: 32px;
  line-height: 22px;
  _height: 36px;
  padding: 0 8px;
  font-size: 16px;
  color: $black;
  background: $white;
  border: 2px solid $borderColor;
  vertical-align: top;
  /*NOTE: do not set middle in this container (IE bugs will be)*/
}

.form-textarea {
  display: inline-block;
  font-family: "HPSimplified",Arial;
  height: 32px;
  line-height: 22px;
  _height: 36px;
  padding: 0 8px;
  font-size: 16px;
  color: $black;
  background: $white;
  border: 2px solid $borderColor;
  vertical-align: top;
  /*NOTE: do not set middle in this container (IE bugs will be)*/
  &.disabled, &.error {
    display: inline-block;
    font-family: "HPSimplified",Arial;
    height: 32px;
    line-height: 22px;
    _height: 36px;
    padding: 0 8px;
    font-size: 16px;
    color: $black;
    background: $white;
    border: 2px solid $borderColor;
    vertical-align: top;
    /*NOTE: do not set middle in this container (IE bugs will be)*/
  }
  height: 66px;
  font-family: "HPSimplified",Arial;
  padding: 10px;
  border: 2px $borderColor solid;
  overflow-y: visible;
  &.disabled, &.error {
    height: 66px;
    font-family: "HPSimplified",Arial;
    padding: 10px;
    border: 2px $borderColor solid;
    overflow-y: visible;
  }
  height: 90px;
}

.pre-active {
  color: $grey;
  border-color: $lightgrey;
}

.form-input:hover, .form-textarea:hover, .form-input:focus, .form-textarea:focus {
  color: $black;
  border-color: $borderColor;
}

.form-input-disabled, .form-textarea.disabled {
  color: $formtxtcolor;
  background: $formbginput;
  border-color: $lightgrey;
}

.form-input-error, .form-textarea.error {
  border-color: $formColor;
  color: $formColor;
}

/* Slim Inputs */

.input-slim {
  font-size: 14px;
  height: 22px;
  _height: 26px;
  line-height: 18px;
  padding: 0 8px;
}

.form-textarea {
  &.resizeoff {
    resize: none;
  }
  &.scroll-y {
    overflow-y: scroll;
  }
  &.auto-resize {
    overflow: hidden;
  }
}

.form-error {
  background: none repeat scroll 0 0 $formColor;
  margin: 20px 0 20px;
  padding: 20px 20px 10px;
  li {
    color: $formColor;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
  }
}