
<div id="mainDiv" ng-controller="eventNotificationCtrl">
    <div id="EContainer">
       <!-- <div id="Eheader">
            <span class="EheaderTxtPadding">Notification</span>
        </div>-->
        <div id="EBISubheader" style="border-bottom:0px solid #9a9a9a;line-height:0px;font-size:19px;height:60px"><span class="textLftPadding">Event Notification Setup Menu</span></div>
        <tabset>
            <tab title="Order Based"   template-url="partials/orderbased1.html"></tab>
            <tab title="Profile Based" template-url="partials/profileBased.html"></tab>  
            <tab title="Active Profiles" template-url="partials/activeProfile.html"></tab>                   
        </tabset>
        
    </div>
</div>
