<div class="headerRow footer">
	<hr></hr>
    <div class="twelve columns">
        <a href="http://welcome.hp.com/country/us/eng/privacy.html" class="privateifo">Privacy statement</a>&nbsp;&nbsp;&nbsp;|
        &nbsp;<a href="http://welcome.hp.com/country/us/eng/termsofuse.html" class="confidentialinfo">Using this site means you accept its terms</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;HP Confidential</br>
        Powered by HP Order Status Tracking System | &copy; Copyright <span>{{currentYr}}</span> Hewlett-Packard Development Company, L.P        
    </div>
</div>
