<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Search by Statuses - Help</title>
  <style>
     td.hdr { font-family: Arial;
              font-size:   9pt;
              font-weight: bold;
              background-color: #336699;
              color: #ffffff;
              padding: 4px;
     }
     td { font-family: Arial;
          font-size:   10pt;
          background-color: #eeeeee;
     }
  </style>
</head>
<body style="background-color: white;">-->
<table border="0" cellspacing="1" cellpadding="2">
  <tbody>
    <tr>
      <td class="hdr">Qualifier</td>
      <td class="hdr">Description</td>
    </tr>
    <tr>
      <td>sap user status</td>
      <td>Enter the SAP user status code that you want to search on<br>
      </td>
    </tr>
    <tr>
      <td>sap user category</td>
      <td>allows you to filter on a category or sub-category of user statuses/hold<br>
      </td>
    </tr>
  </tbody>
</table>
<!--</body>
</html>-->
