<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Search By Numbers - Help</title>
  <style>
     td.hdr { font-family: Arial;
              font-size:   9pt;
              font-weight: bold;
              background-color: #336699;
              color: #ffffff;
              padding: 4px;
     }
     td { font-family: Arial;
          font-size:   10pt;
          background-color: #eeeeee;
     }
  </style>
</head>
<body style="background-color: white;">-->
<table border="0" cellspacing="1" cellpadding="2">
  <tbody>
    <tr>
      <td class="hdr">Qualifier</td>
      <td class="hdr">Description</td>
    </tr>
    <tr>
      <td>Purch Agreement</td>
      <td>Number for the HP contract agreement unique to the customer<br>
      </td>
    </tr>
    <tr>
      <td>Sales Admin</td>
      <td>Person responsible for order entry and managing the
customer's order <br>
      </td>
    </tr>
    <tr>
      <td>Customer No</td>
      <td>First line of the sold to address on the order: <span
 style="font-weight: bold;">Note</span>: Japan only it is the user name
4 and end user 5<br>
      </td>
    </tr>
    <tr>
      <td>Serial No</td>
      <td>HP identification number assigned to the main components of a
product to track ownership and warranty information<br>
      </td>
    </tr>
    <tr>
      <td>IMEI (Telco)</td>
      <td>IMEI code associated to serial number, only visible on specific Telco products<br>
      </td>
    </tr>
    <tr>
      <td>Asset Tag No</td>
      <td>Customer id which tags the goods for inventory purposes<br>
      </td>
    </tr>
    <tr>
      <td>Mac Address</td>
      <td>MAC address of primary LAN adaptor<br>
      </td>
    </tr>
    <tr>
      <td>Cust Ship No</td>
      <td>HP generated customer shipment number<br>
      </td>
    </tr>
    <tr>
      <td>Fact Ship No</td>
      <td>SAP generated customer shipment number<br>
      </td>
    </tr>
    <!--<tr>
      <td>Invoice No</td>
      <td>Unique number on the invoice HP sends to the customer<br>
      </td>
    </tr>-->
    <tr>
      <td>Quote No</td>
      <td>The reference number assigned on HP's quotation to the
customer<br>
      </td>
    </tr>
    <tr>
      <td>Cust Family No</td>
      <td>The highest level customer number in the customer hierarchy
(WWOMS only)<br>
      </td>
    </tr>
    <tr>
      <td>Product No</td>
      <td>The number assigned to an HP product <br>
      </td>
    </tr>
    <tr>
      <td>Cust Product No</td>
      <td>The customer's product number assigned to an HP product <br>
      </td>
    </tr>
    <tr>
      <td>SAL Number</td>
      <td>Lease Schedule Number. <br>
      </td>
    </tr>
    <tr>
      <td>OIS ID No</td>
      <td>The reference number given to the order as it flows through the middleware to the order fulfillment system. <br>
      </td>
    </tr>
    <tr>
    <tr>
      <td>EOP ID</td>
      <td>EOP is the portal through which Japanese Channel orders are placed. EOP ID is ID generated by the EOP system. <br>
      </td>
    </tr>
    <tr>
      <td>Gvt Contract No</td>
      <td>HP Contract number between HP and the U.S. government. <br>
      </td>
    </tr>
    <tr>
      <td>WAWF Number</td>
      <td>n/a <br>
      </td>
    </tr>
    <tr>
      <td>Eclaims No</td>
      <td>The eclaims authorization number assigned to the return claim. <br>
      </td>
    </tr>
    <tr>
      <td>NCRF Number</td>
      <td>the customer number from the NCRF (new customer reference file) database that groups multiple customer numbers <br>
together in a hierarchical grouping at country, region and ww level. <br>
      </td>
    </tr>
    <tr>
      <td>Account Name</td>
      <td>Account field leveraged from the OSS Delivery Performance Tool (DPT) (AP and EMEA)</td>
      </td>
    <tr>
      <td>Legacy Order Type</td>
      <td>Identify legacy order types</td>
      </td>
    <tr>
      <td>Web Order No</td>
      <td>The web or reference number issued to the customer when they submit their orders via the web storefronts. <br>
      </td>
    </tr>
	<tr>
      <td>Master Contract Id</td>
	  <td>A validated reference to the terms & conditions governing the sale. <br>
      </td>
    </tr>
    <tr>
      <td>Opportunity ID</td>
      <td>The new Opportunity ID field in OSS should be populated with what is known in Fusion <br>
as the SalesForce.com (SFDC)/Siebel Opportunity ID field; this field is only applicable for AMS<br>
      </td>
    </tr>
    <tr>
      <td>Rebate Request ID</td>
      <td>Rebate Request ID assigned to an order which is eligible for rebate<br>
      </td>
    </tr>
    <tr>
      <td>Vendor PO mfgt SO</td>
      <td>MfgtSO is for the internal order used to build the item.<br>
      </td>
    </tr>
     <tr>
      <td>Vendor PO org SO</td>
      <td>OrgSO is for the value from the parent Trade Order<br>
      </td>
    </tr>

  </tbody>
</table>
<!--</body>
</html>-->
