<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Search by Codes- Help</title>
  <style>
     td.hdr { font-family: Arial;
              font-size:   9pt;
              font-weight: bold;
              background-color: #336699;
              color: #ffffff;
              padding: 4px;
     }
     td { font-family: Arial;
          font-size:   10pt;
          background-color: #eeeeee;
     }
  </style>
</head>
<body style="background-color: white;">-->
<tdn></tdn><tdn></tdn><tdn></tdn><tdn></tdn><tdn></tdn>
<table cellpadding="2" cellspacing="1" border="0">
  <tbody>
    <tr>
      <td class="hdr">Qualifier</td>
      <td class="hdr">Description</td>
    </tr>
    <tr>
      <td>All</td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td>Sales Org</td>
      <td>Sales organization assigned to the order identifying the
origin sales <br>
region/country of the order<br>
      </td>
    </tr>
    <tr>
      <td>CD Code</td>
      <td>Coordinated Delivery - Code on the order that indicates
whether the customer wants <br>
the products on the order to be shipped all together or the customer
will allow a partial delivery<br>
      </td>
    </tr>
    <tr>
      <td>DC Code</td>
      <td>Deliver to - Code on the order that signifies what
consolidation center location<br>
&nbsp;the supplier should ship the products to. Note: DC = ''00"
=&nbsp; ship directly to the<br>
customer from the supplier<br>
      </td>
    </tr>
    <tr>
      <td>EID</td>
      <td>Engagement ID - A project ID used to track a consulting order<br>
      </td>
    </tr>
    <tr>
      <td>ID Code</td>
      <td>Inventory code - used to assign what inventory bucket thesale of the item should fall into (ie deferred revenue items)<br>
      </td>
    </tr>
    <tr>
      <td>TEAM ID</td>
      <td>Number assigned to an OM group that is managing a particular account (s) ( used in China, EMEA and U.S Fusion orders)</td>
    </tr>
    <tr>
      <td>Siebel Agent ID</td>
      <td>ID to identify a deal registered in Siebel</td>
    </tr>
    <tr>
      <td>Product Lines</td>
      <td>HP internal product line code (ie. 7F , AN, 8B, etc.) or HP
internal<br>
&nbsp;RAS product division code (ie BAN, B7F, B8B, etc.)<br>
      </td>
    </tr>
    <tr>
      <td>Sales Rep.</td>
      <td>Sales person receiving compensation for the customer order<br>
      </td>
    </tr>
    <tr>
      <td>Special Codes</td>
      <td>Codes entered on an order to flag special order information <br>
such as special packaging, invoicing, or order exceptions -<br>
&nbsp;Note: Applicable to WWOMS and Fusion orders only<br>
      <br>
      </td>
    </tr>
    <tr>
      <td>SupplierOrigSO</td>
      <td>Indicates the HP internal supplying division for the materials <br>
or the PlantOrigSO on the product. OrigSO is for the value from the parent Trade Order.<br>
      </td>
    </tr>
    <tr>
      <td>SupplierMfgSO</td>
      <td>Indicates the HP internal supplying division for the materials <br>
or the PlantMfgSO on the product. MfgSO is for the internal order used to build the item<br>
      </td>
    </tr>
    <tr>
      <td>OPG Code</td>
      <td style="vertical-align: top;">Order Processing Guidleline- The
customer contract number containing discounts and T's&amp;C's<br>
      </td>
    </tr>
    <tr>
      <td>Deal ID/Price ID</td>
      <td style="vertical-align: top;">Eclipse Big Deal ID - The
customer contract number containing discounts and T's&amp;C's<br>
      </td>
    </tr>
    <tr>
      <td>Ship to ID</td>
      <td style="vertical-align: top;">The OM Ship to customer number<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td>Sold to ID</td>
      <td style="vertical-align: top;">The OM Sold to customer number<br>
      </td>
    </tr>
    <tr>
      <td>Invoice to ID</td>
      <td style="vertical-align: top;">The OM Invoice to customer number<br>
      </td>
    </tr>
    <tr>
      <td>Ship to zip</td>
      <td>Allows you to query on a zip or postal code (can do a wildcard search by entering a partial number)</td>
    </tr>
    <tr>
      <td>Catalog ID</td>
      <td>Source of product offering (catalog) used for reporting commission</td>
    </tr>
    <tr>
      <td>Distrib Channel</td>
      <td>Distibution channel code (DR,DL,ZZ)</td>
    </tr>
    <tr>
      <td>Campaign Code</td>
      <td>Indicates if a particular item is sold (priced) under a specific campaign</td>
    </tr>
    <tr>
      <td>Funnel ID</td>
      <td>Siebel Opportunity ID for revenue recognition and management reporting (China)</td>
    </tr>
	<tr>





      <td VALIGN=TOP> Commerciality Code


                                                <td>
                                                            A - Comm Enduser
                                                        <br>B - Comm Reseller
                                                        <br>C - Comm Distribr
                                                        <br>1 - Legacy Comm
                                                        <br> 2 - Non-GSA
                                                        <br>3 - Placeholder
                                                        <br>4 - Fed/Contr GSA
                                                        <br>6 - SLED GSA
                                                        <br>5 - State/Local Non-GSA
                                                        <br>7 - Educ Non-GSA
                                                  <td>
    </tr>
	<tr>





      <td VALIGN=TOP> Payment Method
                                                <td>
                                                    1 - PayPal
                                                    <br>2 - Wire
                                                    <br>3 - PAID
                                                    <br>4 - Check
                                                    <br>5 - DirectDeposit
                                                    <br>6 - OperatorCredit
                                                    <br>7 - CreditCard
                                                    <br>8 - PayrollDeduction
                                                    <br>9 - PostPayment
                                                    <br>10 - NT15
                                                    <br>11 - NS30
                                                    <br>12 - NB15
                                                    <br>13 - ZLES
                                                    <br>14 - ZILS
                                                    <br>15 - Lease
                                                    <br>16 - OpenInvoice
                                                    <br>17 - PO
                                                    <br>18 - Unknown
                                                  <td>
    </tr>

       <tr>
      <td>Community ID</td>
      <td>Used heavily by EMEA SMB and consumer. Provides the indication of Catalog used by <br>
customer, Payment types offered to a customer, Web layout (banners, logo…) and Group <br>
of customers. Eg: EMEA HP Store EPP customers have all the same community ID.</td>
      </tr>

       <tr>
      <td>Teleweb Agent ID</td>
      <td>It is only valid for ISCS orders, and contains the HP e-mail address of <br>
the TelewebAgent who supported the customer (assisted order) to place an order.</td>
      </tr>
    <tr>
         <td VALIGN=TOP>Logistic Service Provider ID</td>
         <td>Various Logistic Service Provider code for UK orders</td>
    </tr>
    <tr>
      <td>PlantOrigSO</td>
      <td>Provides the SAP PlantOrigSO from where the item was fulfilled. <br>
OrigSO is for the value from the parent Trade Order.</td>
    </tr>
    <tr>
      <td>PlantMfgSO</td>
      <td>Provides the SAP PlantMfgSO from where the item was fulfilled. <br>
MfgSO is for the internal order used to build the item.</td>
    </tr>
  </tbody>
</table>
<!--</body>
</html>-->
