<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Search by Dates - Help</title>
  <style>
     td.hdr { font-family: Arial;
              font-size:   9pt;
              font-weight: bold;
              background-color: #336699;
              color: #ffffff;
              padding: 4px;
     }
     td { font-family: Arial;
          font-size:   10pt;
          background-color: #eeeeee;
     }
  </style>
</head>
<body style="background-color: white;">-->
<table border="0" cellspacing="1" cellpadding="2">
  <tbody>
    <tr>
      <td class="hdr">Qualifier</td>
      <td class="hdr">Description</td>
    </tr>
    <tr>
      <td>Purchase Order Date</td>
      <td>Enter the order date range for orders you want
displayed</td>
    </tr>
    <tr>
      <td>HP Receive Date</td>
      <td>Enter the HP receive date&nbsp; range for orders you want
displayed</td>
    </tr>
    <tr>
      <td>Fact Ship Date</td>
      <td>Enter the factory ship date range for orders you want
displayed</td>
    </tr>
    <tr>
      <td>Cust Ship Date</td>
      <td>Enter the customer ship date range for orders you want
displayed</td>
    </tr>
    <tr>
      <td>Earliest Arrival Date</td>
      <td>Enter the EAD for orders you want
displayed</td>
    </tr>
    <tr>
      <td>SDD</td>
      <td>Enter the factory ship date range for orders you want
displayed</td>
    </tr>
    <tr>
      <td>POD Date</td>
      <td>Enter the POD date range for orders you want
displayed</td>
    </tr>
    <tr>
      <td>Invoice Date</td>
      <td>Enter the Invoice Date range for orders you want displayed<br>
      </td>
    </tr>
    <tr>
      <td>Quote Creation Date</td>
      <td>Date when the quote was created in ePrime
      </td>
    </tr>
    <tr>
      <td>Web Order Creation Date</td>
      <td>Date when the quote was converted into an order in ePrime
      </td>
    </tr>
    <tr>
      <td>changed Orders</td>
      <td>Enter the change order date range for orders you want
displayed</td>
    </tr>
  </tbody>
</table>
<!--</body>
</html>-->
