<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-side">
    <div class="container profile-container">
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs no-padding-side profile-image">
            <div>
                <img ng-src="{{myProfile.profileImage}}" alt="replace text" class="img-circle img-responsive">
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 profile-description">
        	<div class="profile-name">{{myProfile.profileName}}</div>
        	<div class="profile-designation"></div>{{myProfile.profileDesignation}}
        	<hr>
            <div class="col-md-3 col-xs-12 no-padding-side">
            	<span><em class="fa fa-briefcase"></em>&nbsp;{{myProfile.profileName}}</span>
            </div>
            <div class="col-md-9 col-xs-12 no-padding-side">
            	<span><em class="fa fa-map-marker"></em>&nbsp;{{myProfile.profileAddress}}</span>
            </div>
            <div class="col-md-3 col-xs-12 no-padding-side">
            	<span><em class="fa fa-envelope"></em>&nbsp;{{myProfile.profileEmail}}</span>
            </div>
            <div class="col-md-9 col-xs-12 no-padding-side">
            	<span><em class="fa fa-phone"></em>&nbsp;{{myProfile.profilePhone}}</span>
            </div>
            <div class="col-md-12 col-xs-12 no-padding-side">
                <span><em class="fa fa-linkedin"></em>&nbsp;{{myProfile.profiledLinkedIn}}&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
		

