
<div class="modal-header">
        <a type="button" class="close" ng-click="$modalCancel()" aria-hidden="true"><b>X</b></a>
        <h3>Add a New Email Address</h3>
</div>
<div class="modal-body" ng-controller="eventBasedController">
    <div>In the field below you may add an additional email address to use for event notification or reporting functionality.</div><br>
    <div>Enter the email address in the field below and click on the add email address button. A confirmation email
        will be sent to the email address tha twas entered. The confirmation email will contain a link to confirm the
        requested email address. After the email address is confirmed, you will be able to use the new email address
        for both the event notification and reporting functionality.</div>
    <br>
    <div>To add more than one address just enter them one at a time.</div><br>
    <form name="emailForm">
        <div class="flLeft">
            <input required ng-model="newEmail" data-placeholder="xxxx@xxx.com" type="email" class="form-input js_color_change pre-active" id="aqqq" />
        </div>
        <div><a class="slim button secondary btn_label" ng-click="$modalSuccess();" style="margin-top: 5px;">Add Email Address</a></div>
        <div class="emailError" ng-show="emailForm.$error.required">*Required !!</div>
        <div class="emailError" ng-show="emailForm.$error.email">Please enter a valid email id.</div>
    </form>
</div>
<div class="modal-footer">
    <a class="slim button searchBTN primary btn_label" ng-click="$modalCancel();">Close</a>
    <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
</div>
        
