<div class="modal-header" style="margin-left: -14px;">
  <a type="button" class="close" ng-click="$modalCancel()" aria-hidden="true"><b>X</b></a>
  <h3>choose region/state</h3>
</div>
 <select style="width: 100%; height:100%;" multiple="multiple" name="searchLocation" id="searchLocation0" ng-model="shipS" size="10">
    <option ng-repeat="(name,val) in statesList" value="{{name}}">{{val}}</option>
</select>

<div><a class="slim button secondary btn_label" ng-click="$modalSuccess();" style="float: right;margin-right: 39px;">OK</a></div>
