<div class="container">
    <div class="col-xs-12 bg-white">
        {{ngTitle}} {{ngFilter}} {{ngFocussed}}
        <div class="margin-top-20">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-3">Skill&nbsp;<em class="fa fa-sort"></em>
                            </th>
                            <th class="col-xs-2">Category&nbsp;<em class="fa fa-sort"></em>
                            </th>
                            <th class="col-xs-2">Current Proficiency&nbsp;<em class="fa fa-sort"></em>
                            </th>
                            <th class="col-xs-2">Desired Proficiency&nbsp;<em class="fa fa-sort"></em>
                            </th>
                            <th class="col-xs-2">Experience&nbsp;<em class="fa fa-sort"></em>
                            </th>
                            <th class="col-xs-1"><em class="fa fa-filter fa-2x"></em>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-xs-3">Table cell</td>
                            <td class="col-xs-2">Table cell</td>
                            <td class="col-xs-2">Table cell</td>
                            <td class="col-xs-2">Table cell</td>
                            <td class="col-xs-2">Table cell</td>
                            <td class="col-xs-1">Table cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--<div class="as-table">
                <div class="as-table-row">
                    <div class="as-table-column custom-table-column col-xs-3">Skill</div>
                    <div class="as-table-column custom-table-column col-xs-2">Category</div>
                    <div class="as-table-column custom-table-column col-xs-2">Current Proficiency</div>
                    <div class="as-table-column custom-table-column col-xs-2">Desired Proficiency</div>
                    <div class="as-table-column custom-table-column col-xs-2">Experience(yrs)</div>
                    <div class="as-table-column custom-table-column col-xs-1">Filter</div>
                </div>
            </div>-->
    <!--<select class="form-control">
        <option value="" class=""></option>
        <option value="0" selected="selected">dd-MMMM-yyyy</option>
        <option value="1">yyyy/MM/dd</option>
        <option value="2">dd.MM.yyyy</option>
        <option value="3">shortDate</option>
    </select>-->
</div>